<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
    <classes>
      <class name="testngDataProvider.ParallelExecution1"/>
      <class name="testngDataProvider.ParallelExecution"/>
      <class name="testngDataProvider.ParallelExecution2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
